*{
    box-sizing:border-box;
    
    
}
body{
    font-family: "Karla",sans-serif;
    margin:0;
    
}
/*
A <Body background> element and styling it to a background-size:cover
*/
.background{
    background-repeat:no-repeat;
    background-size:cover;
    
}

.Header{
    background: rgb(229, 166, 176);
    display: flex;
    height: 70px;
    color: rgb(123, 51, 156);
    padding: 0px;
    border-radius: 3px;
    
}
.Header_image{
    height: 100%;    
}

.Header-title-1{
    margin:auto;
    margin-left: 20px;
    color: rgb(78, 117, 27);  
}
a{
    text-decoration: none !important;
    
}
a:visited{
    color: rgb(78, 117, 27);
}
.Header-title-2{
    margin-right: 20px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: bolder;
    color: rgb(78, 117, 27);
    font-style: italic;
    font-family: "Karla",sans-serif;
}

main{
    padding: 40px;
    padding-top: 60px;
    padding-left: 60px;
    
}
form{
    display: grid;
    grid-template: 40px 40px/ 1fr 1fr; /* 2 rows of 40px each, with 1 fraction division*/
    gap:17px;
}

.form-button{
   grid-column: 1 /-1;
   background-color: rgb(221, 129, 221);
   border-color: rgb(221, 129, 221);
   font-family: "Karla",sans-serif;
   border-radius: 5px;
   height: 50px;
  
}
.form-input{
    text-indent:40%;
   border-radius: 5px;

}
